.home {
    background: linear-gradient(to right, #858585, #fff0c0);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 200px; 

}

.home p{
    color: rgb(43, 28, 28);
    font-size: 50px;
    font-family: "Lobster Two", sans-serif;
    line-height: 2px;

}

