.home {
    background: linear-gradient(to right, #858585, #fff0c0);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 200px; 

}

.home p{
    color: rgb(43, 28, 28);
    font-size: 50px;
    font-family: "Lobster Two", sans-serif;
    line-height: 2px;

}

.wavySubtitle {
  width: 90%;
  max-width: 900px;
  height: auto;
  display: block;
  margin: -1rem auto;
  position: relative;
  z-index: 10;
}

#wavyPath1,
#wavyPath2 {
  fill: none;
  stroke: none;
}

.svgTextOnPath {
  font-family: 'Crimson Pro', serif;
  font-size: 2.5vw;
  font-weight: 700;
  fill: #76370b;
  text-transform: uppercase;
  text-anchor: middle;
}

@media (max-width: 1200px) {
  .svgTextOnPath {
    font-size: 3vw;
  }
}

@media (max-width: 576px) {
  .svgTextOnPath {
    font-size: 7vw;
  }
}
.wavySubtitle svg {
  width: 100%;
  height: auto;
}
